@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.head-text {
  padding-top: 95px;
  font-family: "Bruno Ace SC", cursive;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  font-size: 56px;
  padding-bottom: 70px;
  color: #eeeeee;
}
.background {
  display: flex;
  margin-bottom: 70px;
  padding: 20px 10%;
}

.container-contact {
  flex: 0 1 700px;
  margin: auto;
}
.screen {
  position: relative;
  background: transparent;
  border-radius: 15px;
  width: 50vw;
  height: 500px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-left: solid 2px #393e46;
  border-right: solid 2px #393e46;
  border-bottom: solid 2px #393e46;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #393e46;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
  justify-content: space-between;
}

.screen-body-item {
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  width: 20vw;
  background: none;
  border: none;
  border-bottom: 1px solid #393e46;
  color: #ffd369;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ffd369;
}
.phone-img {
  position: relative;
  background-image: url(../Images/Contact-Image/contact.png);
  background-size: 110% 100%;
  width: 500px;
  height: 300px;
}
.icon-btn {
  display: flex;
  justify-content: space-between;
}
.icon-btn a {
  color: #ffd369;
  margin-right: 20px;
  font-size: 25px;
}
.contact-btn {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: solid 2px #ffd369;
  color: #ffd369;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-btn:hover {
  border-radius: 12px;
  background-color: #ffd369;
  color: #393e46;
}
@media only screen and (max-width: 1340px) {
  .screen {
    width: unset;
  }
  .screen-body {
    display: block;
  }
  .phone-img {
    display: none;
  }
  .app-form-control {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .icon-btn {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }
  .icon-btn a {
    margin: 0 !important;
  }
  .icon-a {
    display: flex;
    justify-content: space-evenly;
  }
  .contact-btn {
    width: 40%;
    padding: 2%;
    margin-top: 35px;
    align-self: center;
  }
}
