@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
}
#projects {
  padding-top: 100px;
}
.project {
  font-family: "Bruno Ace SC", cursive;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  font-size: 56px;
  padding-bottom: 70px;
  color: #eeeeee;
}
.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}
.border-elem {
  border: 2px solid #393e46;
}
.project-text {
  line-height: 30px;
  text-align: start;
}
.modal-text {
  line-height: 30px;
}
.modal-text h1 {
  margin-top: 20px;
}
.modal-text p {
  overflow-y: auto;
  margin-top: 20px;
}
/* PROJECT-1 */
.project-div-1 {
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: #222831;
  margin-bottom: 3rem;
}
.project-content-1 {
  position: relative;
  margin: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
}
.project-content-1 .project-title {
  color: #eeeeee;
  padding-bottom: 3%;
}
.project-content-1 .project-text {
  color: #eeeeee;
  padding-bottom: 13%;
  width: 505px;
  height: 120px;
}

.project-content-1 .project-button-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: auto;
}
.project-content-1 button {
  transition: 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  border: #ffd369 solid 1px;
  font-size: 18px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: #ffd369;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.project-content-1 button:hover {
  transform: scale(1.2);
}
.project-banner1 {
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Todo-Images/todo.png);
  width: 588px;
  height: 350px;
  margin-bottom: 20px;
  margin-right: 15px;
  border-radius: 10px;
  transition: background-size 0.6s ease-in-out;
}

.project-banner1:hover {
  background-size: 120% 120%;
}
.modal-img {
  position: relative;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Todo-Images/todo-modal.png);
  object-fit: fill !important;
  width: auto;
  height: 450px;
  margin-bottom: 20px;
  margin-right: 15px;
  transition: background-size 0.6s ease-in-out;
}
/* PROJECT-2 */

.project-div-2 {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: #222831;
  margin-bottom: 3rem;
}
.project-content-2 {
  position: relative;
  margin: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
}
.project-content-2 .project-title {
  color: #eeeeee;
  padding-bottom: 3%;
}
.project-content-2 .project-text {
  color: #eeeeee;
  padding-bottom: 13%;
  width: 505px;
  height: 120px;
}
.project-content-2 .project-button-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  padding: auto;
}
.project-content-2 button {
  transition: 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  border: #ffd369 solid 1px;
  font-size: 18px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: #ffd369;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.project-content-2 button:hover {
  transform: scale(1.2);
}
.project-banner2 {
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Memory-images/MemoryGame.png);
  width: 588px;
  height: 350px;
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 10px;
  transition: background-size 0.6s ease-in-out;
}

.project-banner2:hover {
  background-size: 120% 120%;
}
/* PROJECT-3 */
.project-div-3 {
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: #222831;
  margin-bottom: 3rem;
}
.project-content-3 {
  position: relative;
  margin: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
}
.project-content-3 .project-title {
  color: #eeeeee;
  padding-bottom: 3%;
}
.project-content-3 .project-text {
  color: #eeeeee;
  padding-bottom: 13%;
  width: 505px;
  height: 120px;
}
.project-content-3 .project-button-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: auto;
}
.project-content-3 button {
  transition: 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  border: #ffd369 solid 1px;
  font-size: 18px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: #ffd369;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.project-content-3 button:hover {
  transform: scale(1.2);
}
.project-banner3 {
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Snake/Snake.png);
  width: 588px;
  height: 350px;
  margin-bottom: 20px;
  margin-right: 15px;
  border-radius: 10px;
  transition: background-size 0.6s ease-in-out;
}

.project-banner3:hover {
  background-size: 120% 120%;
}
/* PROJECT-4 */
.project-div-4 {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: #222831;
  margin-bottom: 3rem;
}
.project-content-4 {
  position: relative;
  margin: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
}
.project-content-4 .project-title {
  color: #eeeeee;
  padding-bottom: 3%;
}
.project-content-4 .project-text {
  color: #eeeeee;
  padding-bottom: 13%;
  width: 505px;
  height: 120px;
}
.project-content-4 .project-button-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  padding: auto;
}
.project-content-4 button {
  transition: 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  border: #ffd369 solid 1px;
  font-size: 18px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: #ffd369;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.project-content-4 button:hover {
  transform: scale(1.2);
}
.project-banner4 {
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Gallery/gallery.png);
  width: 588px;
  height: 350px;
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 10px;
  transition: background-size 0.6s ease-in-out;
}

.project-banner4:hover {
  background-size: 120% 120%;
}
/* PROJECT-5 */
.project-div-5 {
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: #222831;
  margin-bottom: 3rem;
}
.project-content-5 {
  position: relative;
  margin: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
}
.project-content-5 .project-title {
  color: #eeeeee;
  padding-bottom: 3%;
}
.project-content-5 .project-text {
  color: #eeeeee;
  padding-bottom: 13%;
  width: 505px;
  height: 120px;
}
.project-content-5 .project-button-5 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: auto;
}
.project-content-5 button {
  transition: 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  border: #ffd369 solid 1px;
  font-size: 18px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: #ffd369;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.project-content-5 button:hover {
  transform: scale(1.2);
}
.project-banner5 {
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Calculator/Calculator.png);
  width: 588px;
  height: 350px;
  margin-bottom: 20px;
  margin-right: 15px;
  border-radius: 10px;
  transition: background-size 0.6s ease-in-out;
}

.project-banner5:hover {
  background-size: 120% 120%;
}
/* PROJECT-6 */
.project-div-6 {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: #222831;
  margin-bottom: 3rem;
}
.project-content-6 {
  position: relative;
  margin: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
}
.project-content-6 .project-title {
  color: #eeeeee;
  padding-bottom: 3%;
}
.project-content-6 .project-text {
  color: #eeeeee;
  padding-bottom: 13%;
  width: 505px;
  height: 120px;
}
.project-content-6 .project-button-6 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  padding: auto;
}
.project-content-6 button {
  transition: 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  border: #ffd369 solid 1px;
  font-size: 18px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: #ffd369;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.project-content-6 button:hover {
  transform: scale(1.2);
}
.project-banner6 {
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Pokemons/pokemons.png);
  width: 588px;
  height: 350px;
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 10px;
  transition: background-size 0.6s ease-in-out;
}

.project-banner6:hover {
  background-size: 120% 120%;
}
/* PROJECT-7 */
.project-div-7 {
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: #222831;
  margin-bottom: 3rem;
}
.project-content-7 {
  position: relative;
  margin: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
}
.project-content-7 .project-title {
  color: #eeeeee;
  padding-bottom: 3%;
}
.project-content-7 .project-text {
  color: #eeeeee;
  padding-bottom: 13%;
  width: 505px;
  height: 120px;
}
.project-content-7 .project-button-7 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: auto;
}
.project-content-7 button {
  transition: 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  border: #ffd369 solid 1px;
  font-size: 18px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: #ffd369;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.project-content-7 button:hover {
  transform: scale(1.2);
}
.project-banner7 {
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Validation/Validation.png);
  width: 588px;
  height: 350px;
  margin-bottom: 20px;
  margin-right: 15px;
  border-radius: 10px;
  transition: background-size 0.6s ease-in-out;
}

.project-banner7:hover {
  background-size: 120% 120%;
}
/* ANIMATION-MODAL */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
/* CSS-MODAL-PROJECT-1 */
#modal {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  width: 101%;
  height: 835px;
  display: flex;
  justify-content: center;
  display: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #222831a9;
}
#modalX {
  position: absolute;
  right: 0;
  border: none;
  color: #ffd369;
  border-left: 3px solid #ffd369;
  border-bottom: 3px solid #ffd369;
  background-color: #222831;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  z-index: 12;
}
.modal-container {
  border: solid 3px #ffd369;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 1241px;
  height: 830.2px;
}
/* CSS-MODAL-PROJECT-2 */
#modal2 {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  width: 101%;
  height: 835px;
  display: flex;
  justify-content: center;
  display: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #222831a9;
}
#modalX2 {
  position: absolute;
  right: 0;
  border: none;
  color: #ffd369;
  border-left: 3px solid #ffd369;
  border-bottom: 3px solid #ffd369;
  background-color: #222831;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  z-index: 12;
}

.modal-img2 {
  position: relative;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Memory-images/MemoryGame.png);
  width: auto;
  height: 450px;
  margin-bottom: 20px;
  margin-right: 15px;
  transition: background-size 0.6s ease-in-out;
}

/* modal project-3 */
#modal3 {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  width: 101%;
  height: 835px;
  display: flex;
  justify-content: center;
  display: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #222831a9;
}
#modalX3 {
  position: absolute;
  right: 0;
  border: none;
  color: #ffd369;
  border-left: 3px solid #ffd369;
  border-bottom: 3px solid #ffd369;
  background-color: #222831;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  z-index: 12;
}

.modal-img3 {
  position: relative;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Snake/Snake.png);
  width: auto;
  height: 450px;
  margin-bottom: 20px;
  margin-right: 15px;
  transition: background-size 0.6s ease-in-out;
}
/* CSS-MODAL-PROJECT-4 */
#modal4 {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  width: 101%;
  height: 835px;
  display: flex;
  justify-content: center;
  display: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #222831a9;
}
#modalX4 {
  position: absolute;
  right: 0;
  border: none;
  color: #ffd369;
  border-left: 3px solid #ffd369;
  border-bottom: 3px solid #ffd369;
  background-color: #222831;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  z-index: 12;
}

.modal-img4 {
  position: relative;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Gallery/gallery.png);
  width: auto;
  height: 450px;
  margin-bottom: 20px;
  margin-right: 15px;
  transition: background-size 0.6s ease-in-out;
}

/* modal project-5 */
#modal5 {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  width: 101%;
  height: 835px;
  display: flex;
  justify-content: center;
  display: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #222831a9;
}
#modalX5 {
  position: absolute;
  right: 0;
  border: none;
  color: #ffd369;
  border-left: 3px solid #ffd369;
  border-bottom: 3px solid #ffd369;
  background-color: #222831;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  z-index: 12;
}

.modal-img5 {
  position: relative;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Calculator/Calculator-modal.png);
  width: auto;
  height: 450px;
  margin-bottom: 20px;
  margin-right: 15px;
  transition: background-size 0.6s ease-in-out;
}
/* CSS-MODAL-PROJECT-6 */
#modal6 {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  width: 101%;
  height: 835px;
  display: flex;
  justify-content: center;
  display: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #222831a9;
}
#modalX6 {
  position: absolute;
  right: 0;
  border: none;
  color: #ffd369;
  border-left: 3px solid #ffd369;
  border-bottom: 3px solid #ffd369;
  background-color: #222831;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  z-index: 12;
}

.modal-img6 {
  position: relative;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Pokemons/pokemons.png);
  width: auto;
  height: 450px;
  margin-bottom: 20px;
  margin-right: 15px;
  transition: background-size 0.6s ease-in-out;
}

/* modal project-7 */
#modal7 {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  width: 101%;
  height: 835px;
  display: flex;
  justify-content: center;
  display: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #222831a9;
}
#modalX7 {
  position: absolute;
  right: 0;
  border: none;
  color: #ffd369;
  border-left: 3px solid #ffd369;
  border-bottom: 3px solid #ffd369;
  background-color: #222831;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  z-index: 12;
}

.modal-img7 {
  position: relative;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../Images/Project-Image/JsProject/Validation/Validation.png);
  width: auto;
  height: 450px;
  margin-bottom: 20px;
  margin-right: 15px;
  transition: background-size 0.6s ease-in-out;
}
.modal-img .tech {
  position: absolute;
  top: 40%;
  right: 1%;
  z-index: 12;
}
.modal-img2 .tech {
  position: absolute;
  top: 40%;
  right: 1%;
  z-index: 12;
}
.modal-img3 .tech {
  position: absolute;
  top: 40%;
  right: 1%;
  z-index: 12;
}
.modal-img4 .tech {
  position: absolute;
  top: 40%;
  right: 1%;
  z-index: 12;
}
.modal-img5 .tech {
  position: absolute;
  top: 40%;
  right: 1%;
  z-index: 12;
}
.modal-img6 .tech {
  position: absolute;
  top: 40%;
  right: 1%;
  z-index: 12;
}
.modal-img7 .tech {
  position: absolute;
  top: 40%;
  right: 1%;
  z-index: 12;
}
.modal-img .tech img {
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
}
.modal-img2 .tech img {
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
}
.modal-img3 .tech img {
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
}
.modal-img4 .tech img {
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
}
.modal-img5 .tech img {
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
}
.modal-img6 .tech img {
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
}
.modal-img7 .tech img {
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
}
.modal-text {
  display: flex;
  flex-direction: column;
  height: 360px;
  align-self: center;
  text-align: center;
  color: #eeeeee;
}

.modal-href {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 60px;
}

.modal-href a {
  position: relative;
  display: inline-flex;
  width: 150px;
  height: 100%;
  color: #222831;
  justify-content: center;
  align-items: center;
  background-color: #ffd369;
  border: 2px solid #ffd369;
  border-radius: 8px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  padding: 10px 15px;
}

.modal-href a:hover {
  color: #ffd369;
  background-color: #393e46;
}

.modal-href a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #101820ff;
  z-index: -1;
  transition: 0.5s;
}

.modal-href a:hover::before {
  width: 100%;
}
.modal-href a:nth-child(3) {
  padding-left: 10px;
}
.blur {
  filter: blur(7px);
}
/* RESPONSIVE-PHONE */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .container {
    padding: 20px 39px;
  }
  .project-div-1,
  .project-div-2,
  .project-div-3,
  .project-div-4,
  .project-div-5,
  .project-div-6,
  .project-div-7 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 16px 16px;
  }
  .project-content-1 .project-text {
    color: #eeeeee;
    padding-bottom: 13%;
    width: auto;
    height: auto;
  }
  .project-content-2 .project-text {
    color: #eeeeee;
    padding-bottom: 13%;
    width: auto;
    height: auto;
  }
  .project-content-3 .project-text {
    color: #eeeeee;
    padding-bottom: 13%;
    width: auto;
    height: auto;
  }
  .project-content-4 .project-text {
    color: #eeeeee;
    padding-bottom: 13%;
    width: auto;
    height: auto;
  }
  .project-content-5 .project-text {
    color: #eeeeee;
    padding-bottom: 13%;
    width: auto;
    height: auto;
  }
  .project-content-6 .project-text {
    color: #eeeeee;
    padding-bottom: 13%;
    width: auto;
    height: auto;
  }
  .project-content-7 .project-text {
    color: #eeeeee;
    padding-bottom: 13%;
    width: auto;
    height: auto;
  }
  .project-banner1 {
    background-image: url(../Images/Project-Image/JsProject/Todo-Images/TodoListRes.png);
    margin: auto;
    height: 468px;
    width: 318px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  .project-banner2 {
    background-image: url(../Images/Project-Image/JsProject/Memory-images/Memory-res.png);
    margin: auto;
    height: 468px;
    width: 318px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  .project-banner3 {
    background-image: url(../Images/Project-Image/JsProject/Snake/Snake.png);
    margin: auto;
    height: 468px;
    width: 318px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  .project-banner4 {
    background-image: url(../Images/Project-Image/JsProject/Gallery/gallery-res.png);
    margin: auto;
    height: 468px;
    width: 318px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  .project-banner5 {
    background-image: url(../Images/Project-Image/JsProject/Calculator/Calculator-res.png);
    margin: auto;
    height: 468px;
    width: 318px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  .project-banner6 {
    background-image: url(../Images/Project-Image/JsProject/Pokemons/pokemons-res.png);
    margin: auto;
    height: 468px;
    width: 318px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  .project-banner7 {
    background-image: url(../Images/Project-Image/JsProject/Validation/Validation-res.png);
    margin: auto;
    height: 468px;
    width: 318px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  .project-content-1 .project-button-1 {
    position: unset;
  }
  .project-content-2 .project-button-2 {
    position: unset;
  }
  .project-content-3 .project-button-3 {
    position: unset;
  }
  .project-content-4 .project-button-4 {
    position: unset;
  }
  .project-content-5 .project-button-5 {
    position: unset;
  }
  .project-content-6 .project-button-6 {
    position: unset;
  }
  .project-content-7 .project-button-7 {
    position: unset;
  }
  #modal,
  #modal2,
  #modal3,
  #modal4,
  #modal5,
  #modal6,
  #modal7 {
    height: 100%;
  }
  .modal-img {
    position: relative;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../Images/Project-Image/JsProject/Todo-Images/TodoListRes.png);
    width: auto;
    height: 450px;
    margin-bottom: 20px;
    margin-right: 15px;
    transition: background-size 0.6s ease-in-out;
  }
  .modal-img2 {
    position: relative;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../Images/Project-Image/JsProject/Memory-images/Memory-res.png);
    width: auto;
    height: 450px;
    margin-bottom: 20px;
    margin-right: 15px;
    transition: background-size 0.6s ease-in-out;
  }
  .modal-img3 {
    position: relative;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../Images/Project-Image/JsProject/Snake/Snake.png);
    width: auto;
    height: 450px;
    margin-bottom: 20px;
    margin-right: 15px;
    transition: background-size 0.6s ease-in-out;
  }
  .modal-img4 {
    position: relative;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../Images/Project-Image/JsProject/Gallery/gallery-res.png);
    width: auto;
    height: 450px;
    margin-bottom: 20px;
    margin-right: 15px;
    transition: background-size 0.6s ease-in-out;
  }

  .modal-img5 {
    position: relative;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../Images/Project-Image/JsProject/Calculator/Calculator-res.png);
    width: auto;
    height: 450px;
    margin-bottom: 20px;
    margin-right: 15px;
    transition: background-size 0.6s ease-in-out;
  }
  .modal-img6 {
    position: relative;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../Images/Project-Image/JsProject/Pokemons/pokemons-res.png);
    width: auto;
    height: 450px;
    margin-bottom: 20px;
    margin-right: 15px;
    transition: background-size 0.6s ease-in-out;
  }
  .modal-img7 {
    position: relative;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../Images/Project-Image/JsProject/Validation/Validation-res.png);
    width: auto;
    height: 450px;
    margin-bottom: 20px;
    margin-right: 15px;
    transition: background-size 0.6s ease-in-out;
  }
  .modal-img .tech {
    top: 50%;
    right: 2%;
  }
  .modal-img .tech img {
    margin-top: auto;
  }
  .modal-img2 .tech {
    top: 50%;
    right: 2%;
  }
  .modal-img2 .tech img {
    margin-top: auto;
  }
  .modal-img3 .tech {
    top: 50%;
    right: 2%;
  }
  .modal-img3 .tech img {
    margin-top: auto;
  }
  .modal-img4 .tech {
    top: 50%;
    right: 2%;
  }
  .modal-img4 .tech img {
    margin-top: auto;
  }
  .modal-img5 .tech {
    top: 50%;
    right: 2%;
  }
  .modal-img5 .tech img {
    margin-top: auto;
  }
  .modal-img6 .tech {
    top: 50%;
    right: 2%;
  }
  .modal-img6 .tech img {
    margin-top: auto;
  }
  .modal-img7 .tech {
    top: 50%;
    right: 2%;
  }
  .modal-img7 .tech img {
    margin-top: auto;
  }
  .modal-href a {
    width: auto;
    height: auto;
  }
  .modal-href a span {
    display: none;
  }
}
