* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#skills {
  height: 100vh;
  background-color: #222831;
}
.skill {
  position: relative;
  text-align: center;
  font-size: 56px;
}

.flip-cards {
  display: flex;
  justify-content: center;
  gap: 10%;
  background-color: #222831;
}

.flip:hover {
  border: #ffd369 2px solid;
  border-radius: 2%;
}

.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 600px;
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  background-size: cover !important;
  background-position: center !important;
  height: 500px;
  padding: 1em 2em;
  background-color: #222831;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}
.text-shadow {
  color: #ffd369;
  text-shadow: 1px 1px rgba(255, 211, 105, 0.04),
    2px 2px rgba(255, 211, 105, 0.04), 3px 3px rgba(255, 211, 105, 0.04),
    4px 4px rgba(255, 211, 105, 0.04),
    0.125rem 0.125rem rgba(255, 211, 105, 0.04),
    6px 6px rgba(255, 211, 105, 0.04), 7px 7px rgba(255, 211, 105, 0.04),
    8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(255, 211, 105, 0.04),
    0.3125rem 0.3125rem rgba(255, 211, 105, 0.04), 11px 11px rgba(0, 0, 0, 0.04),
    12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(255, 211, 105, 0.04),
    14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(255, 211, 105, 0.04),
    16px 16px rgba(255, 211, 105, 0.04), 17px 17px rgba(255, 211, 105, 0.04),
    18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(255, 211, 105, 0.04),
    1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
@media only screen and (max-width: 768px) {
  @supports (-webkit-overflow-scrolling: touch) {
    .back {
      display: block;
      -webkit-transition-timing-function: cubic-bezier(
        0.175,
        0.885,
        0.32,
        1.275
      );
      -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-property: transform, opacity;
      -moz-transition-property: transform, opacity;
      -ms-transition-property: transform, opacity;
      -o-transition-property: transform, opacity;
      transition-property: transform, opacity;
    }
  }
  .flip {
    width: 350px;
  }
  .flip-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
  }
}
