@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
}
.change-text {
  font-family: "Bruno Ace SC", cursive;
}
/*
#222831 dark grey
#393E46 grey
#FFD369 yellow
#EEEEEE white */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: #222831;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #eeeeee;
  text-decoration: none;
  font-weight: 600;
}
.dot {
  animation: color-change 5s infinite;
}
@keyframes color-change {
  50% {
    color: #eeeeee;
  }
  50% {
    color: #ffd369;
  }
}
.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #222831;
  animation: slideRight 1s ease forwards;
  animation-delay: 3.1s;
}
@keyframes slideRight {
  100% {
    width: 0;
  }
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #eeeeee;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
  color: #ffd369;
}
.navbar a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffd369 !important;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #242932;
  animation: slideRight 1s ease forwards;
  animation-delay: 3.1s;
}

.navbar a::after:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: white;
}
.bar:nth-child(1) {
  background-color: #ffd369;
}
.bar:nth-child(3) {
  background-color: #ffd369;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #222831;
  /* background-image: linear-gradient(
    180deg,
    hsl(216deg 18% 16%) 4%,
    hsl(216deg 17% 17%) 55%,
    hsl(216deg 16% 18%) 70%,
    hsl(216deg 15% 19%) 80%,
    hsl(216deg 14% 20%) 86%,
    hsl(217deg 13% 21%) 91%,
    hsl(217deg 12% 22%) 95%,
    hsl(217deg 12% 23%) 97%,
    hsl(217deg 11% 24%) 99%,
    hsl(217deg 10% 25%) 100%
  ); */
}
.profile {
  width: 300px;
  height: 300px;
  opacity: 0.3;
}
/* IMG HERE */

.home-content h1 {
  position: relative;
  color: #ffd369;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}
.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #222831;
  animation: slideRight 1s ease forwards;
  animation-delay: 3.1s;
}
.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.change-text {
  font-size: 32px;
}
.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #222831;
  animation: slideRight 1s ease forwards;
  animation-delay: 3.3s;
}
.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 20px;
}
.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #222831;
  animation: slideRight 1s ease forwards;
  animation-delay: 3.6s;
}
.home-content .hire-me {
  position: relative;
  display: flex;

  width: 345px;
  height: 50px;
}
.home-content .hire-me::before {
  content: "";
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #222831;
  animation: slideRight 1s ease forwards;
  animation-delay: 3.8s;
}
.hire-me a {
  position: relative;
  display: inline-flex;
  width: 150px;
  height: 100%;
  color: #222831;
  justify-content: center;
  align-items: center;
  background-color: #ffd369;
  border: 2px solid #ffd369;
  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.hire-me a:hover {
  color: #ffd369;
}
.hire-me a:nth-child(2) {
  background-color: transparent;
  color: #ffd369;
}
.hire-me a:nth-child(2)::before {
  background: #ffd369;
}
.hire-me a:nth-child(2):hover {
  background-color: #393e46;
  color: #222831;
}
.hire-me a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #101820ff;
  z-index: -1;
  transition: 0.5s;
}
.hire-me a:hover::before {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header.active {
    background-color: #222831;
  }
  .navbar {
    display: flex;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #222831;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navbar a {
    font-size: 30px;
    margin-top: 30px;
  }
  .navbar.active {
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden !important;
  }
  .home {
    margin-top: 85px;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
  }
  img {
    margin-top: 70px;
  }
  .home-content {
    margin-top: 170px;
  }
  .home-content h3 {
    font-size: 20px;
  }
  .change-text {
    font-size: 20px;
  }
}
.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: "";
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #222831;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: "";
  position: absolute;
  left: 20;
  height: 25vmin;
  width: 40vmin;
  background: #222831;
  transform: translate(-40vmin, 5vmin);
}

.en {
  color: #cc9853;
}

.he {
  font-size: 60px;
  color: #0038b8;
}

.de {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}
#loader {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #222831;
  font-size: 2vmin;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4bb68;
}
#loader span {
  font-family: "JetBrains Mono", monospace;
}
#loader h1 {
  font-family: "JetBrains Mono", monospace;
}
